@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&display=swap");
:root {
  --dark-one: #0a0b0c;
  --light-one: #fff;
  --red-one: #f03e3e;
  --yellow-one: #fab005;
}
*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "Poppins", sans-serif;
  /* font-family: 'Rubik', sans-serif; */
  font-size: 1.4rem;
  background: var(--dark-one);
  color: var(--light-one);
}
nav {
  padding: 2rem 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
}
.nav_links {
  display: flex;
  align-items: center;
}
.nav_link {
  padding: 0 2.5rem;
  transition: 0.35s;
  font-size: 1.5rem;
}
.nav_link:hover {
  color: var(--red-one);
}
.logout_btn {
  margin-left: 4rem;
  border: 0;
  outline: 0;
  background: var(--red-one);
  color: var(--light-one);
  transition: 0.35s ease-in-out;
  padding: 1.1rem 2.5rem;
  text-transform: uppercase;
  cursor: pointer;
}
.logout_btn:hover {
  background: #e23838;
  color: var(--light-one);
}
.home_page {
  /* padding: 0 2.5rem; */
  margin: 0 auto;
}
.header_section {
  pointer-events: none;
  height: 75vh;
}
.movie_poster {
  position: relative;
}
.movie_poster_img {
  object-fit: cover;
  height: 75vh;
}
.header_overlay {
  position: absolute;
  background: rgba(10, 11, 12, 0.815);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.header_text_overlay {
  width: 55%;
  position: absolute;
  z-index: 12;
  bottom: 10%;
  left: 2%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.header_title {
  font-size: 3.8rem;
  font-weight: 500;
}
.date_and_rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
  font-size: 1.8rem;
}
.header_votings {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.header_votings i {
  color: var(--yellow-one);
}
.header_desc {
  font-weight: 300;
  letter-spacing: 1.2px;
  line-height: 1.2;
  font-size: 1.5rem;
}
